@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    /* Cores Principais */
    --color01: #042940;
    --color02: #005C53;
    --color03: #9FC131;
    --color04: #F2F2F2;
    --color05: #FFFFFF;
    /* Fontes Principais */
    --fonte-principal: "Ubuntu", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: var(--fonte-principal);
    position: relative;
}
header{
    position: sticky;
    top: 0;
    font-family: var(--fonte-principal);
    background-color: var(--color05);
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 19vh;
}
header nav{
    padding-left: 22px;
}
header nav > a{
    color: var(--color01);
    text-decoration: none;
    margin-left: 30px;
    padding-bottom: 2px;
}
header nav > a:hover{
    color: #9FC131;
    transition: .5s;
    border-bottom: 0.5px solid #9FC131;
}
header > img{
    padding-right: 40px;
    height: 32vh;
}
.icons{
    padding-right: 40px;
}

.fa-facebook{
    color: #126AFF;
    cursor: pointer;
}

.fa-twitter{
    cursor: pointer;
}

.fa-instagram{
    color: #DF3158;
    cursor: pointer;
}
.icons > i{
    padding-left: 30px;
    font-size: 2.0em;
}
.sec-01{
    background-image: url('../imagens/background-new.jpg');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--color01);
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.card{
    background-color: #f2f2f29d;
    margin-left: 15vh;
    padding: 40px;
    width: 38%;
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.582);
}
.card h1{
    font-weight: bold;
    font-size: 2vw;
    text-align: left;
}
.letter{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.2em;
    font-size: 1.5vw;
    text-align: left;
}
.card span{
    color: var(--color02);
}
.container-buttons{
    justify-content: space-between;
}
.container-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    padding-right: 29%;
}
.now{
    background-color: var(--color01);
    cursor: pointer;
    margin-right: 40px;
    width: 10vw;
    text-align: center;
    padding: 1vw;
    border-radius: 16px;
    font-weight: bold;
    font-size: 1.2vw;
    color: var(--color04);
}
.now:hover{
    background-color: var(--color02);
    color: var(--color04);
    transition: .5s;
}
.servi{
    background-color: var(--color01);
    cursor: pointer;
    width: 10vw;
    text-align: center;
    padding: 1vw;
    border-radius: 16px;
    font-weight: bold;
    font-size: 1.2vw;
    color: var(--color04);
}

.servi:hover{
    background-color: var(--color02);
    transition: .5s;
}
.sec-02{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80vh;
    padding: 50px;
}
.card-sec-02{
    width: 80%;
}
.card-sec-02 img{
    display: block;
    margin: auto;
    padding-top: 30px;
}
#back-image{
    background-color: var(--color01);
    height: 86vh;
}
#with-us{
    padding-left: 20px;
}
#with-us i{
    font-size: 4.4em;
    margin-left: 40%;
    padding-bottom: 30px;
    color: var(--color01);
}
.text{
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}
.button{
    cursor: pointer;
    font-weight: bold;
    font-size: 1.0em;
    padding: 15px;
    width: 20%;
    text-align: center;
    background-color: var(--color02);
    color: var(--color04);
    border-radius: 3px;
}
.button:hover{
    transition: .5s;
    background-color: var(--color03);
}
.sec-03{
    padding: 50px;
    height: 80vh;
}
.sec-03-tex{
    margin: auto;
    text-align: center;
    width: 50%;
}
.sec-03-tex h2{
    font-size: 2.0em;
}
.sec-03-tex p{
    padding-top: 30px;
}
.container-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
}
.container-cards i{
    padding-left: 70%;
    padding-bottom: 30px;
    font-size: 3.2em;
}
.card-01, .card-02, .card-03{
    width: 50%;
    padding: 20px;
}
.card-01 h2{
    padding-bottom: 40px;
}
.card-02 h2{
    padding-bottom: 40px;
}
.card-03 h2{
    padding-bottom: 40px;
}
.read-me{
    padding-top: 30px;
    font-weight: bold;
    cursor: pointer;
}
.read-me:hover{
    color: var(--color01);
}
.read-me i{
    padding-left: 5px;
    font-size: 18px;
    color: var(--color02);
}
.sec-04{
    height: 80vh;
    padding: 50px;
}
.container-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.image{
    width: 50%;
    padding-bottom: 30px;
    padding-right: 30px;
    background-color: var(--color03);
}
.image img{
    width: 50%;
    display: block;
    margin: 50px auto 15px auto; 
    position: relative;
    top: 50px;
}
.contac-inform img{
    width: 50%;
}
.contac-inform{
    padding: 20px;
    margin-bottom: 50px;
}
.contac-inform-text{
    padding-bottom: 60px;
}
.contac-inform-text i{
    font-size: 3.0em;
    padding-top: 20px;
    color: #00BD07;
    cursor: pointer;
}
.contac-inform-text i:hover{
    transition: .5s;
    color: #005C53;
}
footer{
    background-color: var(--color01);
}
footer p{
    text-align: center;
    font-weight: bold;
    padding: 20px;
    color: var(--color04);
}