@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    /* Cores Principais */
    --color01: #042940;
    --color02: #005C53;
    --color03: #9FC131;
    --color04: #F2F2F2;
    --color05: #FFFFFF;
    /* Fontes Principais */
    --fonte-principal: "Ubuntu", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: var(--fonte-principal);
}
header{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 19vh;
}
header nav{
    padding-left: 22px;
}
header nav > a{
    color: var(--color01);
    text-decoration: none;
    padding-left: 30px;
}
header nav > a:hover{
    color: #9FC131;
    transition: .5s;
}
header > img{
    padding-right: 40px;
    height: 32vh;
}
.icons{
    padding-right: 40px;
}

.fa-facebook{
    color: #126AFF;
    cursor: pointer;
}

.fa-twitter{
    cursor: pointer;
}

.fa-instagram{
    color: #DF3158;
    cursor: pointer;
}
.icons > i{
    padding-left: 30px;
    font-size: 2.0em;
}
.sec-01{
    background-image: url('file:///C:/Users/maykn/Documents/projetos/projectus-bancarius/imagens/background.jpg');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: var(--color01);
    height: 90vh;
    width: 100%;
}
.card{
    background-color: #005C53;
    height: 60%;
    width: 30%;
}